.footer {
  display: flex;
  justify-content: center;
  max-width: 1280px;
}

.footer__copyright {
  margin: 60px auto 60px;
  font-size: 16px;
  line-height: 1;
  opacity: 0.4;
  color: #212121;
  font-weight: 400;
}
